@page
@model ModificaFornitoreModel
@{
    ViewData["Title"] = "ModificaFornitore";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form method="post">
        <div class="form-group ">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" value="@Model.Fornitore.Nome" />
        </div>

        <div class="form-group mb-3">
            <label for="categoria">Categoria
                <select class="form-control" name="categoria">
                    <option value="@Model.Fornitore.Categoria">@Model.Fornitore.Categoria</option>
                    @foreach (var categoria in Model.Categorie)
                    {
                        <option value="@categoria">@categoria</option>
                    }
                </select>
            </label>
        </div>
        <br>
        <button type="submit" class="btn btn-dark">Salva</button>
    </form>
</div>