@page
@model ProdottiModel
@{
    ViewData["Title"] = "Prodotti";
}

<h1>@ViewData["Title"]</h1>

<!-- Pulsante per mostrare/nascondere il filtro -->
<button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#filtroCollapse"
    aria-expanded="false" aria-controls="filtroCollapse">Filtro</button>

<!-- Sezione del filtro -->
<div class="collapse" id="filtroCollapse">
    <div>
        <form method="get">
            <div class="d-flex flex-wrap align-items-center">
                <div class="form-group me-3 mb-2">
                    <label for="minPrezzo" class="me-2">Min Prezzo</label>
                    <input type="text" class="form-control" name="minPrezzo" style="max-width: 100px;" />
                </div>
                <div class="form-group me-3 mb-2">
                    <label for="maxPrezzo" class="me-2">Max Prezzo</label>
                    <input type="text" class="form-control" name="maxPrezzo" style="max-width: 100px;" />
                </div>
                <button type="submit" class="btn btn-primary mb-2">Filtra</button>
            </div>
        </form>
    </div>
</div>

<br>

<center><p>@TempData["messaggio"]</p></center>
<br>
<!-- Sezione dei prodotti con if -->
<div class="row text-center d-flex align-items-stretch">
    @foreach (var item in Model.Prodotti)
    {
        <div class="col-12 col-sm-6 col-md-4 mb-4 d-flex">
            <div class="card h-100 w-100">
                <div>
                    <img src="@item.Immagine" class="mx-auto card-img-top" alt="@item.Nome">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-white">@item.Nome</h5>
                    @if (item.Prezzo < 300)
                    {
                        <p class="card-text text-success">@item.Prezzo €</p>
                    }
                    else if (item.Prezzo < 600)
                    {
                        <p class="card-text text-warning">@item.Prezzo €</p>
                    }
                    else
                    {
                        <p class="card-text text-danger">@item.Prezzo €</p>
                    }
                </div>
                <div class="card-footer">
                    <div class="btn-group mt-auto">
                        <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill">
                            <a asp-page="ProdottoDettaglio" asp-route-id="@item.Id">Dettaglio</a>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill">
                            <a asp-page="ModificaProdotto" asp-route-id="@item.Id">Edit</a>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill">
                            <a asp-page="CancellaProdotto" asp-route-id="@item.Id">Elimina</a>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    }
</div>

<!-- Sezione dei prodotti con switch 
<div class="row text-center d-flex align-items-stretch">
    @foreach (var item in Model.Prodotti)
    {
        <div class="col-12 col-sm-6 col-md-4 mb-4 d-flex">
            <div class="card h-100 w-100">
                <div>
                    <img src="@item.Immagine" class="mx-auto card-img-top" alt="@item.Nome">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-white">@item.Nome</h5>
                    @switch (item.Prezzo)
                    {
                        case var expression when expression <300:
                        <p class="card-text text-success">@item.Prezzo €</p>
                        break;
                    
                        case var expression when expression < 600:
                        <p class="card-text text-warning">@item.Prezzo €</p>
                        break;
                    
                        default:
                        <p class="card-text text-danger">@item.Prezzo €</p>
                        break;
                    }
                </div>
                <div class="card-footer">
                    <div class="btn-group mt-auto">
                        <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill">
                            <a asp-page="ProdottoDettaglio" asp-route-id="@item.Id" asp-route-nome="@item.Nome"
                                asp-route-prezzo="@item.Prezzo"
                                asp-route-dettaglio="@item.Dettaglio" asp-route-immagine="@item.Immagine">Dettaglio</a>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    }
</div> -->



<!-- Paginazione -->
<form method="get">
    <input type="hidden" name="minPrezzo" value="@Request.Query["minPrezzo"]" />
    <input type="hidden" name="maxPrezzo" value="@Request.Query["maxPrezzo"]" />
    <div class="d-flex flex-wrap justify-content-center">
        @for (int i = 1; i <= Model.numeroPagine; i++)
        {
            <button type="submit" class="btn btn-primary rounded-pill mx-1" name="pageIndex" value="@i">@i</button>
        }
    </div>
</form>



