@page
@model ProdottoDettaglioModel
@{
    ViewData["Title"] = "ProdottoDettaglio";
}


<h1>@ViewData["Title"]</h1>

<div>
    <table class="table text-white">
        <thred>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Prezzo</th>
                <th>Quantità</th>
                <th>Categoria</th>
                <th>Data Inserimento</th>
                <th>Fornitore</th>
                <th>Immagine</th>

            </tr>
        </thred>
        <tbody>
                <tr>
                    <td>@Model.Prodotto.Id</td>
                    <td>@Model.Prodotto.Nome</td>
                    <td>@Model.Prodotto.Prezzo</td>
                    <td>@Model.Prodotto.Quantita</td>
                    <td>@Model.Prodotto.Categoria</td>
                    <td>@Model.Prodotto.Data</td>
                    <td>@Model.Prodotto.NomeFornitore</td>
                    <td><img src="@Model.Prodotto.Immagine" alt="@Model.Prodotto.Nome" width="200" height="100" /></td>

                </tr>   
        </tbody>
    </table>
    <a asp-page="/Prodotti"> Torna a Prodotti</a>
</div>