@page
@model ProdottiModel

@using _37_WebApp_SQLite.Pages.Prodotti;

@{
    ViewData["Title"] = "Prodotti";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h1>Elenco Prodotti</h1>
    @*inseriamo la partial view per la ricerca dei prodotti*@
                    <div class="d-flex">
                        @await Html.PartialAsync("ProductSearch")
                    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Prezzo</th>
                <th>Categoria</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prodotto in Model.Prodotti)
            {
                <tr>
                    <td>@prodotto.Id</td>
                    <td>@prodotto.Nome</td>
                    <td>@prodotto.Prezzo €</td>
                    <td>@prodotto.CategoriaNome</td>
                    <td><div class="btn-group mt-auto">
                        <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill">
                            <a asp-page="Dettaglio" asp-route-id="@prodotto.Id">Details</a>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill">
                            <a asp-page="Modifica" asp-route-id="@prodotto.Id">Edit</a>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary rounded-pill">
                            <a asp-page="Elimina" asp-route-id="@prodotto.Id">Delete</a>
                        </button>
                    </div></td>
                </tr>
            }
        </tbody>
    </table>

</div>
